@primary-color: #212121;
@secondary-color: #F6F5F1;

@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css';
@import './greeting.less';
@import './info.less';
@import './skills.less';
@import './links.less';

@import 'https://fonts.googleapis.com/css?family=Roboto|Exo+2';

::-webkit-scrollbar {
  background: #212121;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #F6F5F1;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 2px;
  transition: 1s;
}


html {
 margin: 0;
 padding: 0;
}
body {
  background: @secondary-color;
  font-family: 'Roboto', sans-serif;
}
blockquote {
  padding: 10px 35px;
  border-left: 5.5px solid @primary-color;
  line-height: 35px;

  margin: 30px 0;
}
main > article:nth-child(even) {
  background: @primary-color;
  color: white;
}
a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}
.anchor {
  width: 100%;
  height: 90px;
  margin: 10px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    margin: 0 0 0 5vw;

    font-size: 30px;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 0.8px;

    display: flex;
    align-items: center;

    i {
      margin: 0 1vw;
      font-size: 30px;
    }

  }
  p {
    font-size: 25px;
    margin: 0 5vw 0 0;
  }
}
